src/main/app/boundarybarrier.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_request" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="boundarybarrierFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/boundry" doc:name="HTTP"/>
        <set-payload value="#['payload']" doc:name="Set Payload"/>
        <set-variable variableName="name" value="#['shamsheer']" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="/test" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="boundarybarrierFlow1">
        <http:listener config-ref="HTTP_Listener_request" path="/test" doc:name="HTTP"/>
        <logger message="#[payload].......#[flowVars.name]........#[message.inboundProperties.'http.query.params'.color]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
